.arco-menu-inner {
  button {
    width: 100%;
  }

  >button {
    margin-block: 1rem;
  }

  .arco-menu-icon-suffix,
  .arco-menu-inline-header span {
    pointer-events: none;
  }
}

.arco-menu-inner {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}