#folderOptions {
  position: absolute;
  top: calc(100% + .3rem);
  left: 0;
  z-index: 9999;
  background: #fff;
  box-shadow: 1px 1px 21px 1px rgba(0, 0, 0, 0.15);
  width: max-content;
  padding-block: .4rem;
  max-height: 300px;
  overflow-y: auto;
  border-radius: .2rem;
  border: 1px solid var(--color-neutral-3);
  scrollbar-width: thin;

  &:not(.open) {
    display: none;
  }

  label {
    display: block;
    position: relative;
    padding-block: .4rem;
    padding-inline: .8rem;

    &.isSelected {
      background: color-mix(in srgb, rgb(var(--primary-5)), transparent 80%);
    }

    &:not(.folder):hover {
      cursor: pointer;
      background: #e6e6e6;
    }

    &.folder {
      font-weight: 600;
    }
  }
}

#folderSettings {
  button {
    background: #fff;
    padding: 1.2rem;
    padding-block: .4rem;
    min-width: 160px;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-neutral-3);
    cursor: pointer;
    transition: .12s;

    &:hover {
      border-color: rgb(var(--primary-5));
    }
  }
}